   <!-- loading static files -->
   {% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Doctors Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

    <!-- Custom Style sheet  -->
    <link rel="stylesheet" href="{% static 'doctor/DoctorHomePage/index.css' %}">
</head>

<body>
    <!-- _______________________________________________________________nav_bar_starts_here_______________________________________________________ -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary position-sticky">
        <div class="container-fluid">
            <a class="navbar-brand fs-3 fw-bold text-success" href="#">BookMyDoc.</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <!-- <form class="d-flex " role="search"> -->

                <input class="form-control me-2 w-50 px-3 " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>

                <!-- </form> -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-3 ">
                        <a class="nav-link active" aria-current="page" href="doctorhome">Appointments</a>
                    </li>
                    <li class="nav-item px-3 ">
                        <a class="nav-link" href="doctorapproved">Approved</a>
                    </li>
                    <li class="nav-item px-3 ">
                        <a class="nav-link" href="#reviews">Reviews</a>
                    </li>
                    <li class="nav-item px-3 ">
                        <a class="btn btn-outline-success" href="/signout">Log Out</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item px-3 ">
                        <a class="btn btn-outline-success " href="#"><svg xmlns="http://www.w3.org/2000/svg" width="25"
                                height="" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                            </svg></a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <!-- _______________________________________________________________nav_bar_ends_here_______________________________________________________ -->
    <!-- __________________________________________________________________Alert section starts here_________________________________________________  -->

    {% for message in messages%}
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
        {{message}}  
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      
  {% if not user.is_authenticated %}


  
  
  {%endif%}
    <!-- __________________________________________________________________Alert section ends here_________________________________________________  -->
    <!-- _____________________________________________________________welcome Image starts __________________________________________________________________ -->

    <!-- <img src="/images/welcome.jpg" class="img-fluid fixed-bg" alt="..."> -->
    <img src="{% static 'doctor/DoctorHomePage/WelcomeDoctor.png' %}" alt="welcome" class="img-fluid h-50 ">
    <!-- _____________________________________________________________welcome Image ends__________________________________________________________________ -->
    <!-- __________________________________________________________________appointments start here_________________________________________________ -->
    <div class="bg-success-subtle pb-4" id="Appointments" data-aos="fade-up">
        <div class="container  ">
            <div class="text-center p-3 ">
                <Strong class="text-success fs-3 ">Appointments</Strong>
            </div>
            <div class="row mb-4">
                {% if doc_bookings%}
                {% for booking in doc_bookings %}
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{booking.patientdetail.fname}} {{booking.patientdetail.lname}}</h5>
                            <span class="text-success fw-lighter">({{booking.slot}}) ({{booking.date}})</span>
                            <p class="card-text">{{booking.patientdetail.symptoms}}</p>
                            <form action="updateapprove" method="post" style="display : inline;">
                                {% csrf_token %}
                                <input type="hidden" name="auto_field" value="{{booking.auto_field}}">
                                <input type="hidden" name="patientusername" value="{{booking.pusername}}">
                                <input type="hidden" name="pfname" value="{{booking.pfname}}">
                                <input type="hidden" name="slot" value="{{booking.slot}}">
                                <input type="hidden" name="dusername" value="{{booking.doctor}}">
                                <input type="hidden" name="slotNum" value="{{booking.slotNum}}">
                            <button type="submit" class="btn btn-outline-success approvebtn" id="apr1">Approve</button>
                            </form>

                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#{{booking.pk}}">
                                Cancel
                            </button>
                            <form action="viewmore" method="post" style="display : inline;">
                                {% csrf_token %}
                                <input type="hidden" name="patientusername" value="{{booking.pusername}}">
                                <input type="hidden" name="fname" value="{{patientdetail.fname}}">
                                <input type="hidden" name="lname" value="{{patientdetail.lname}}">
                                <input type="hidden" name="slot" value="{{booking.slot}}">
                                <input type="hidden" name="slotNum" value="{{booking.slotNum}}">
                            <button type="submit" class="btn btn-outline-success float-end">View More</button>
                        </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="{{booking.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <form action="cancel" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="pusername" value="{{booking.pusername}}">
                        <input type="hidden" name="pk" value="{{booking.auto_field}}">
                        <input type="hidden" name="date" value="{{booking.date}}">
                        <input type="hidden" name="slot" value="{{booking.slot}}">
                        <!-- <input type="hidden" name="">
                        <input type="hidden" name=""> -->
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Tell us the reason.</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
            
                            <div class="modal-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ReasonChoice" id="exampleRadios1"
                                        value="doctor's Proffesional Burnout" required>
                                    <label class="form-check-label" for="exampleRadios1">
                                        Proffesional Burnout
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ReasonChoice" id="exampleRadios2"
                                        value="doctor's Personal Emergency" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Personal Emergency
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ReasonChoice" id="exampleRadios2"
                                        value="doctor's Proffesional obligation" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Proffesional obligation
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ReasonChoice" id="exampleRadios2"
                                        value="Health Issues of doctor" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Health Issues
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ReasonChoice" id="exampleRadios2"
                                        value="Overbooking and scheduling conflicts" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Overbooking and scheduling conflicts
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ReasonChoice" id="exampleRadios2"
                                        value="Administrative issues of the doctor's clinic" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Administrative issues
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ReasonChoice" id="exampleRadios2"
                                        value="Technical Difficulties faced by the doctor" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Technical Difficulties
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ReasonChoice" id="exampleRadios2"
                                        value="Staffing Shortage faced by the doctor" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                        Staffing Shortage
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="ReasonChoice" id="exampleRadios2"
                                        value="Some emergency at the doctor's end" required>
                                    <label class="form-check-label" for="exampleRadios2">
                                        others
                                    </label>
                                </div>
            
            
                                <div class="mb-3">
                                    <label for="exampleFormControlTextarea1" class="form-label">Please explain the reason
                                        elaboratly. <span class="fw-light">(will not be shared by user)</span></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="DetailReason" required></textarea>
                                </div>
            
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Submit</button>
                            </div>
                        
                        </div>
                    </div>
                
                </div>
            </form>
            {% endfor %}
            {% else %}
            <div class="text-center p-3 ">
                <Strong class="text-success fs-3 ">No Upcoming Appointments</Strong>
            </div>
            {% endif %}
                <!-- __________________________________________________________________for contents inside Modal end_____________________________________ -->
                                    <!-- </div>
                                </div>
                            </div>
                           
                    </div>
            
                </div> -->
                
                <!-- <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mr Arun Kowachi</h5>
                            <span class="text-success fw-lighter">(9:00 am to 10:00 am)</span>
                            <p class="card-text">Here we will write a brief detail of the problems given by the patient
                                in
                                the form.</p>
                            <button  class="btn btn-outline-success approvebtn" id="apr2">Approve</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Cancel
                            </button>
                            <button  class="btn btn-outline-success float-end">View More</button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mrs Swati Singh</h5>
                            <span class="text-success fw-lighter">(9:00 am to 10:00 am)</span>
                            <p class="card-text">Here we will write a brief detail of the problems given by the patient
                                in
                                the form.</p>
                            <button class="btn btn-outline-success approvebtn" id="apr3">Approve</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Cancel
                            </button>
                            <button  class="btn btn-outline-success float-end">View More</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mrs Ritu Verma</h5>
                            <span class="text-success fw-lighter">(9:00 am to 10:00 am)</span>
                            <p class="card-text">Here we will write a brief detail of the problems given by the patient
                                in
                                the form.</p>
                            <button  class="btn btn-outline-success approvebtn" id="apr4">Approve</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Cancel
                            </button>
                            <button class="btn btn-outline-success float-end">View More</button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mr Nikhil Bharadwaj</h5>
                            <span class="text-success fw-lighter">(10:00 am to 11:00 am)</span>
                            <p class="card-text">Here we will write a brief detail of the problems given by the patient
                                in
                                the form.</p>
                            <button class="btn btn-outline-success approvebtn" id="apr5">Approve</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Cancel
                            </button>
                            <button class="btn btn-outline-success float-end">View More</button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mr priyanshu Prajapati</h5>
                            <span class="text-success fw-lighter">(10:00 am to 11:00 am)</span>
                            <p class="card-text">Here we will write a brief detail of the problems given by the patient
                                in
                                the form.</p>
                            <button  class="btn btn-outline-success approvebtn" id="apr6">Approve</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Cancel
                            </button>
                            <button  class="btn btn-outline-success float-end">View More</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mrs Anjali</h5>
                            <span class="text-success fw-lighter">(10:00 am to 11:00 am)</span>
                            <p class="card-text">Here we will write a brief detail of the problems given by the patient
                                in
                                the form.</p>
                            <button class="btn btn-outline-success approvebtn" id="apr7">Approve</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Cancel
                            </button>
                            <button  class="btn btn-outline-success float-end">View More</button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mr Jethalal Gada</h5>
                            <span class="text-success fw-lighter">(10:00 am to 11:00 am)</span>
                            <p class="card-text">Here we will write a brief detail of the problems given by the patient
                                in
                                the form.</p>
                            <button class="btn btn-outline-success approvebtn" id="apr8">Approve</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Cancel
                            </button>
                            <button  class="btn btn-outline-success float-end">View More</button>

                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Mrs Babita</h5>
                            <span class="text-success fw-lighter">(10:00 am to 11:00 am)</span>
                            <p class="card-text">Here we will write a brief detail of the problems given by the patient
                                in
                                the form.</p>
                            <button  class="btn btn-outline-success approvebtn" id="apr9">Approve</button>
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Cancel
                            </button>
                            <button  class="btn btn-outline-success float-end">View More</button>

                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    </div>
        <!-- __________________________________________________________________for contents inside Modal start_____________________________________ -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Tell us the reason.</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
    
                    <div class="modal-body">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                                value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                Proffesional Burnout
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Personal Emergency
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Proffesional obligation
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Health Issues
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Overbooking and scheduling conflicts
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Administrative issues
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Technical Difficulties
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Staffing Shortage
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                                value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                others
                            </label>
                        </div>
    
    
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Please explain the reason
                                elaboratly. <span class="fw-light">(will not be shared by user)</span></label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
    
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- __________________________________________________________________for contents inside Modal end_____________________________________ -->
    <!-- __________________________________________________________________appointments end here_________________________________________________ -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>

    <script>
        let approvebtn1 = document.querySelector("#apr1");
        let approvebtn2 = document.querySelector("#apr2");
        let approvebtn3 = document.querySelector("#apr3");
        let approvebtn4 = document.querySelector("#apr4");
        let approvebtn5 = document.querySelector("#apr5");
        let approvebtn6 = document.querySelector("#apr6");
        let approvebtn7 = document.querySelector("#apr7");
        let approvebtn8 = document.querySelector("#apr8");
        let approvebtn9 = document.querySelector("#apr9");
            
        let Cancelhtml=`<a href="#" class="btn btn-outline-danger">Cancel</a>`;
    
    
        function Approve(e){
        btn_id = document.getElementById(e.target.id)
            
            
        if (btn_id.innerHTML == "Approve"){
            btn_id.innerHTML = "Approved"
            btn_id.setAttribute("class", "btn btn-success")
        }
    
        else{
                btn_id.innerHTML = "Approve"
                btn_id.setAttribute("class", "btn btn-outline-success")
        }
        }    
    
        approvebtn1.addEventListener("click", Approve);
        approvebtn2.addEventListener("click", Approve);
        approvebtn3.addEventListener("click", Approve);
        approvebtn4.addEventListener("click", Approve);
        approvebtn5.addEventListener("click", Approve);
        approvebtn6.addEventListener("click", Approve);
        approvebtn7.addEventListener("click", Approve);
        approvebtn8.addEventListener("click", Approve);
        approvebtn9.addEventListener("click", Approve);
            
    
    </script>



</body>

</html>